<%- include('partials/header'); -%>

<div class="jumbotron jumbotron-fluid">
    <div class="container ">
        <h1 class="display-2 font-weight-bold" > Thank you <%=senderName%>!</h1>
        <h2 class="display-6 text-danger " >Your message failed to deliver.</h2>
        <hr class="my-4">
        <p class="lead">Kindly use contact us here: info@trustedaboki.com</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="/" role="button">OK!</a>
        </p>
    </div>
</div>


<%- include('partials/footer'); -%>