<%- include('partials/header'); -%>

<div class="jumbotron">
    <h1 class="display-4"> Thank you <%=senderName%>!</h1>
    <h2 class="display-6 text-success " >Your message was sent successfully.</h2>
    <hr class="my-4">
    <p>We will review your message and get back to you shortly</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">OK!</a>
    </p>
  </div>


<%- include('partials/footer'); -%>
